<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <!--write a login form-->
    <form action="/reg" method="post">
        <input type="text"name="email" id="email"  placeholder="email">
        <input type="text" name="first_name" id="first_name" placeholder="name">
        <input type="text" name="last_name" id="last_name" placeholder="last name">

        <input type="password"name="password" id="password"  placeholder="password">
        <label for="name_of_birth">Birthday</label>
        <input type="date" name="date_of_birth" id="name_of_birth">
        <button type="submit">Register</button>
    </form>
</body>
</html>